<p-dialog [(visible)]="helperService.visible">
  <button (click)="IfLogikaAllCharts()">doisnaoodansda</button>
  <p-dropdown [options]="opcije" [(ngModel)]="odabranaOpcija" optionLabel="name" (onChange)="test($event)">
</p-dropdown>

  <ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="helperService.kurac"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-line-chart>
</p-dialog>

