<p-dialog [(visible)]="helperService.visible">
  <p-dropdown [options]="opcijeDropdown"
              placeholder="{{placeholder}}">
  <ng-template let-option pTemplate="item">
    <div (click)="option.action()" style="cursor: pointer;">{{option.label}}</div>
  </ng-template>
</p-dropdown>


  <ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="helperService.kurac"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-line-chart>
</p-dialog>

