//////////////tooltip styling//////////
.leaflet-tooltip {
    background-color: #FF7B54 !important;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

;

.leaflet-tooltip>h3 {
    color: #fbff00 !important;
}

;

.leaflet-tooltip>p {
    color: #ffffff !important;
    font-size: large !important;
    font-weight: 800;
    ;
}

;

.leaflet-tooltip>p .row1 {
    color: #fbff00 !important;
}

.leaflet-tooltip>p .row2 {
    color: #fbff00 !important;
}

///////////////////////////////////////
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
